
.dataTable{

  .dataGrid{
    background: white;
    padding: 20px;

    .MuiDataGrid-toolbarContainer{
      flex-direction: row-reverse;
    }
    img{ 
      width: 32;
      height: 32;
      object-fit: cover;
    }
  }
}
